<div  style="margin-top: 150px;" id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div style="padding-left: 350px;" class="col-sm-8">
        <p>Contact us and We will get you anything at best Price</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Pune,India</p>
        <p><span class="glyphicon glyphicon-phone"></span> +91 8600152137</p>
        <p><span class="glyphicon glyphicon-envelope"></span> prasadadeshmukh26@gmail.com</p>
      </div>
      <!-- <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  
  <!-- Image of location/map -->
  <!-- <img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%"> -->
  
  <!-- <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
  </footer> -->
  
  