          <!-- <div class="container">
          <div class="col-md-12">

              <div class="row">
                  <div class="col-md-12">
                    <button (click)="onLogout()" class="btn btn-success pull right">Logout</button>
                  </div>
            <h1><strong>Admin Home</strong></h1>
            
            <div  class="col-md-5">
              <a routerLink="/vendor-list">
                <img src="./assets/vendor.jpg" alt="Vendors">
                <div class="caption">
                </div>
              </a>
           
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <a routerLink="/category-list">
                <img src="./assets/category.jpg" alt="Category">
                <div class="caption">
                </div>
              </a>
          </div>

          <div class="col-md-5">
              <a routerLink="">
                
                <img src="./assets/user.jpg" alt="Category">
                <div class="caption">
                </div>
              </a>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <a routerLink="/product-list">
                <img src="./assets/products.jpg" alt="Category">
                <div class="caption">
                </div>
              </a>
          </div>


            </div>
            

            </div>


 -->

<!-- 
            <div class=col-md-12  style="color: brown; background-color: aqua; height: 100px;">

              <h1>ABC</h1>
            </div> -->

<h1>Welcome {{username}}</h1>


          
         